@page "/"
<h3>Raw HTML Demo</h3>
@*<textarea @bind=@htmlText></textarea>*@
<br />
@*<button class=”btn btn-primary” @onclick=@DisplayResult>Display the Result</button>*@
<hr />
<div><b>Output</b></div>
<div>@resultText</div>
@code {
  private MarkupString resultText;
    private string htmlText { get; set; }
    private void DisplayResult()
    {
        resultText  = new MarkupString(htmlText);
    }
}